/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%; /* Asegura que el body y html abarquen toda la altura de la página */
}

/* Navbar */
.navbar {
    background-color: #ffffff;
    overflow: hidden;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

    .nav-list li {
        margin: 0 15px;
    }

        .nav-list li a {
            text-decoration: none;
            color: white;
            padding: 14px 20px;
            display: block;
            border-radius: 5px;
        }

            .nav-list li a:hover {
                background-color: #ddd;
                color: black;
            }

            .nav-list li a[href="index.html"] {
                background-color: #f45a27; /* Color para "Inicio" */
            }

            .nav-list li a[href="views/servicio.html"] {
                background-color: #4caf50; /* Color para "Servicio" */
            }

            .nav-list li a[href="views/acercade.html"] {
                background-color: #ffeb3b; /* Color para "Acerca de" */
                color: black;
            }

            .nav-list li a[href="views/contacto.html"] {
                background-color: #f44336; /* Color para "Contacto" */
            }

/* Hero section */
.hero {
    background-color: #0056a4; /* Color azul de fondo */
    color: white;
    text-align: center;
    padding: 40px 20px; /* Reducir un poco el padding */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh; /* Altura mínima ajustada para hacer la sección más compacta */
}

    .hero h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .hero p {
        font-size: 1.2em;
        line-height: 1.5;
        max-width: 800px;
        margin: 0 auto 20px auto; /* Reducir un poco el espacio inferior */
    }

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

    .cta-buttons .btn {
        background-color: #f45a27;
        color: white;
        padding: 15px 30px;
        text-decoration: none;
        border-radius: 5px;
    }

        .cta-buttons .btn:hover {
            background-color: #ff6f4d;
        }

/* Footer */
.footer-container {
    background-color: #f45a27;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: relative;
}

.footer-section {
    text-align: center;
}

    .footer-section p {
        margin-bottom: 10px;
        font-weight: bold;
    }

.footer-menu {
    list-style-type: none;
    padding: 0;
}

    .footer-menu li {
        margin: 5px 0;
    }

        .footer-menu li a {
            color: white;
            text-decoration: none;
        }

            .footer-menu li a:hover {
                text-decoration: underline;
            }

.social-icons img {
    width: 32px;
    margin: 0 10px;
    vertical-align: middle;
}

.footer-container {
    flex-shrink: 0; /* Asegura que el footer no se reduzca, manteniendo la altura completa de la página */
}

/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%; /* Asegura que el body y html abarquen toda la altura de la página */
}

/* Navbar */
header ul {
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

    header ul li {
        margin: 0 15px;
    }

        header ul li a {
            text-decoration: none;
            color: white;
            padding: 14px 20px;
            display: block;
            border-radius: 5px;
        }

            header ul li a:hover {
                background-color: #ddd;
                color: black;
            }

            header ul li a[href="../index.html"] {
                background-color: #f45a27; /* Color para "Inicio" */
            }

            header ul li a[href="servicio.html"] {
                background-color: #4caf50; /* Color para "Servicio" */
            }

            header ul li a[href="acercade.html"] {
                background-color: #ffeb3b; /* Color para "Acerca de" */
                color: black;
            }

            header ul li a[href="contacto.html"] {
                background-color: #f44336; /* Color para "Contacto" */
            }

/* Servicios */
.services {
    background-color: #0056a4; /* Color azul similar al de "Inicio" */
    color: white;
    text-align: center;
    padding: 40px 20px;
}

    .services h2 {
        font-size: 2.5em;
        margin-bottom: 30px;
    }

.service-item {
    background-color: #ffffff;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .service-item h3 {
        font-size: 1.8em;
        margin-bottom: 15px;
    }

    .service-item p {
        font-size: 1.1em;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .service-item img {
        max-width: 100%;
        border-radius: 5px;
    }

/* Footer */
.footer-container {
    background-color: #f45a27;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: relative;
}

.footer-section {
    text-align: center;
}

    .footer-section p {
        margin-bottom: 10px;
        font-weight: bold;
    }

.footer-menu {
    list-style-type: none;
    padding: 0;
}

    .footer-menu li {
        margin: 5px 0;
    }

        .footer-menu li a {
            color: white;
            text-decoration: none;
        }

            .footer-menu li a:hover {
                text-decoration: underline;
            }

.social-icons img {
    width: 32px;
    margin: 0 10px;
    vertical-align: middle;
}

.footer-container {
    flex-shrink: 0; /* Asegura que el footer no se reduzca, manteniendo la altura completa de la página */
}

/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* Navbar */
header ul {
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

    header ul li {
        margin: 0 15px;
    }

        header ul li a {
            text-decoration: none;
            color: white;
            padding: 14px 20px;
            display: block;
            border-radius: 5px;
        }

            header ul li a:hover {
                background-color: #ddd;
                color: black;
            }

            header ul li a[href="../index.html"] {
                background-color: #f45a27; /* Color para "Inicio" */
            }

            header ul li a[href="servicio.html"] {
                background-color: #4caf50; /* Color para "Servicio" */
            }

            header ul li a[href="acercade.html"] {
                background-color: #ffeb3b; /* Color para "Acerca de" */
                color: black;
            }

            header ul li a[href="contacto.html"] {
                background-color: #f44336; /* Color para "Contacto" */
            }

/* Sección de Acerca de */
.about {
    background-color: #0056a4; /* Fondo azul similar al de la página de Inicio */
    color: white;
    padding: 40px 20px;
    text-align: center;
}

    .about h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .about p {
        font-size: 1.2em;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .about img {
        max-width: 100%;
        border-radius: 10px;
    }

/* Footer */
.footer-container {
    background-color: #f45a27;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    text-align: center;
}

    .footer-section p {
        margin-bottom: 10px;
        font-weight: bold;
    }

.footer-menu {
    list-style-type: none;
    padding: 0;
}

    .footer-menu li {
        margin: 5px 0;
    }

        .footer-menu li a {
            color: white;
            text-decoration: none;
        }

            .footer-menu li a:hover {
                text-decoration: underline;
            }

.social-icons img {
    width: 32px;
    margin: 0 10px;
    vertical-align: middle;
}

.footer-container {
    flex-shrink: 0;
}

/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* Navbar */
header ul {
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

    header ul li {
        margin: 0 15px;
    }

        header ul li a {
            text-decoration: none;
            color: white;
            padding: 14px 20px;
            display: block;
            border-radius: 5px;
        }

            header ul li a:hover {
                background-color: #ddd;
                color: black;
            }

            header ul li a[href="../index.html"] {
                background-color: #f45a27; /* Color para "Inicio" */
            }

            header ul li a[href="servicio.html"] {
                background-color: #4caf50; /* Color para "Servicio" */
            }

            header ul li a[href="acercade.html"] {
                background-color: #ffeb3b; /* Color para "Acerca de" */
                color: black;
            }

            header ul li a[href="contacto.html"] {
                background-color: #f44336; /* Color para "Contacto" */
            }

/* Sección de Contacto */
.contact {
    background-color: #0056a4; /* Fondo azul similar al de la página de Inicio */
    color: white;
    padding: 40px 20px;
    text-align: center;
}

    .contact h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .contact p {
        font-size: 1.2em;
        line-height: 1.6;
        margin-bottom: 20px;
    }

.contact-info, .contact-form {
    background-color: #0078d7;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}

    .contact-info h2, .contact-form h2 {
        font-size: 1.8em;
        margin-bottom: 10px;
        color: white;
    }

    .contact-info p, .contact-form label {
        font-size: 1em;
        margin-bottom: 10px;
        color: white;
    }

    .contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1em;
    }

    .contact-form button {
        background-color: #f45a27;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
    }

        .contact-form button:hover {
            background-color: #e03e1c;
        }

/* Footer */
.footer-container {
    background-color: #f45a27;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    text-align: center;
}

    .footer-section p {
        margin-bottom: 10px;
        font-weight: bold;
    }

.footer-menu {
    list-style-type: none;
    padding: 0;
}

    .footer-menu li {
        margin: 5px 0;
    }

        .footer-menu li a {
            color: white;
            text-decoration: none;
        }

            .footer-menu li a:hover {
                text-decoration: underline;
            }

.social-icons img {
    width: 32px;
    margin: 0 10px;
    vertical-align: middle;
}

.footer-container {
    flex-shrink: 0;
}

/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* Navbar */
header ul {
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

    header ul li {
        margin: 0 15px;
    }

        header ul li a {
            text-decoration: none;
            color: white;
            padding: 14px 20px;
            display: block;
            border-radius: 5px;
        }

            header ul li a:hover {
                background-color: #ddd;
                color: black;
            }

            header ul li a[href="../index.html"] {
                background-color: #f45a27; /* Color para "Inicio" */
            }

            header ul li a[href="servicio.html"] {
                background-color: #4caf50; /* Color para "Servicio" */
            }

            header ul li a[href="acercade.html"] {
                background-color: #ffeb3b; /* Color para "Acerca de" */
                color: black;
            }

            header ul li a[href="contacto.html"] {
                background-color: #f44336; /* Color para "Contacto" */
            }

/* Sección de productos */
.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 30px;
}

.product-card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: white;
    animation: fadeIn 1s ease-in-out;
}

    .product-card:hover {
        transform: scale(1.05);
    }

.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.add-to-cart-btn {
    background-color: #f45a27;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .add-to-cart-btn:hover {
        background-color: #333;
    }

/* Animación de los productos */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Sección de Video */
.video-container {
    text-align: center;
    margin: 25px; /* Margen intermedio */
}

    .video-container video {
        max-width: 40%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }


/* Sección de Contacto */
.contact {
    background-color: #0056a4;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

    .contact h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .contact p {
        font-size: 1.2em;
        line-height: 1.6;
        margin-bottom: 20px;
    }

.contact-info, .contact-form {
    background-color: #0078d7;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}

    .contact-info h2, .contact-form h2 {
        font-size: 1.8em;
        margin-bottom: 10px;
        color: white;
    }

    .contact-info p, .contact-form label {
        font-size: 1em;
        margin-bottom: 10px;
        color: white;
    }

    .contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1em;
    }

    .contact-form button {
        background-color: #f45a27;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
    }

        .contact-form button:hover {
            background-color: #e03e1c;
        }

/* Footer */
.footer-container {
    background-color: #f45a27;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    text-align: center;
}

    .footer-section p {
        margin-bottom: 10px;
        font-weight: bold;
    }

.footer-menu {
    list-style-type: none;
    padding: 0;
}

    .footer-menu li {
        margin: 5px 0;
    }

        .footer-menu li a {
            color: white;
            text-decoration: none;
        }

            .footer-menu li a:hover {
                text-decoration: underline;
            }

.social-icons img {
    width: 32px;
    margin: 0 10px;
    vertical-align: middle;
}

.footer-container {
    flex-shrink: 0;
}