<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="servicio.html">Servicio</a></li>
            <li><a href="acercade.html">Acerca de</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </header>
    <main>
        <section class="about">
            <h1>Acerca de Ferretería El Refugio</h1>
            <p>En Ferretería El Refugio, somos una empresa familiar con años de experiencia en el sector de la ferretería. Desde nuestro inicio en [año de fundación], nos hemos dedicado a ofrecer herramientas, materiales y asesoramiento de calidad, con el compromiso de satisfacer las necesidades de nuestros clientes y apoyar sus proyectos con soluciones confiables y eficientes.</p>
            <img src="../imagen/refugio.png" alt="Sobre Ferretería El Refugio">
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Ferretería El Refugio. Todos los derechos reservados.</p>
    </footer>
</body>
</html>